@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("./img/img01.jpg");
  height: 35vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.brandname {
  font-family: "Pacifico", cursive;
  font-size: 35px;
  font-weight: 900;
  color: #ff5722;
  margin: 0;
  padding: 0;
  color: #fff;
}

/* nav  */
nav{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 3px;
  height: 80vh;
}

nav .nav-banner{
  margin-right: 50px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9)), url("./img/nav02.jpg");
    width: 30%;
    height: 100%;
    background-position: center;
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.nav-banner h1{
  text-align: center;
}
.nav-banner .brandname{
  text-align: center;
}
nav ul{
  /* list-style: none;
  display: flex; */
  gap: 20px;
}


/* footer  */
footer{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url("./img/img02.jpg");
    height: 55vh;
    background-position: center;
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer-content{
    text-align: center;
}